{% extends "layouts/base.html" %}

{% block title %} Reset your password {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="post">
                {% csrf_token %}

                <div class="card-header">
                  <h5 class="title">Reset your password</h5>
                  <h6 class="card-category">
                      Enter E-mail address to obtain a new password
                  </h6>
                </div>
                <div class="card-body">
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                  <button type="submit" name="login" class="btn btn-fill btn-primary">Send E-Mail</button>
                </div>

              </form>

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
