{% extends "layouts/base.html" %}

{% block title %} Reset your password {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card">
                {% if validlink %}
              <form role="form" method="post">
                {% csrf_token %}

                <div class="card-header">
                  <h5 class="title">Reset your password</h5>
                  <h6 class="card-category">
                      Please enter your new password twice
                  </h6>
                </div>
                <div class="card-body">
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                  <button type="submit" name="login" class="btn btn-fill btn-primary">Change my password</button>
                </div>

              </form>
                {% else %}
                    <div class="card-header">
                  <h5 class="title">Reset your password</h5>
                  <h6 class="card-category">
                      The password reset link was invalid, possibly because it has already been used.
                      Please request a new password reset.
                  </h6>
                {% endif %}

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
