<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray">Oops! It seems you dont have access to this page.</h6>
                <h4 class="card-title">
                    If you do need access to this page, please <a
                        href="mailto:rpa-engg@cleartrip.com?subject = RPA Dashboard Access&body = Fill your Requirement"
                        class="text-primary">contact RPA Team</a>
                </h4>
                <a href="/" class="btn btn-primary btn-round">Home</a>
            </div>
        </div>
    </div>
</div>